<div class="container-search-table">
  <div class="search-list">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h3 style="text-align: center; color: deepskyblue;"><strong>Clientes</strong></h3>
          <ol class="breadcrumb mt-4 col-md-12">
            <li class="breadcrumb-item active">{{ cliente.id ? 'Edição de clientes' : 'Cadastro de clientes' }}</li>
          </ol>
        </div>

        <div class="container">
          <form #clienteForm="ngForm" (ngSubmit)="onSubmit()" name="form">
            <div class="row">
              <div class="col-sm-8">
                <div class="alert alert-success" role="alert" *ngIf="success" >
                  Cliente salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors" >
                  {{ erro }}
                </div>
              </div>
            </div>

            <div class="row" *ngIf="cliente.id" >
              <div class="form-group col-sm-4">
                <label>ID:</label>
                <input type="text" class="form-control" [ngModel]="cliente.id" name="id" disabled="true">
              </div>

              <div class="form-group col-sm-4">
                <label>Data Cadastro:</label>
                <input type="text" class="form-control" [ngModel]="cliente.dataCadastro" name="dataCadastro"  disabled="true">
              </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                  <label for="">Nome:</label>
                  <input type="text" class="form-control"
                    [(ngModel)]="cliente.nome" name="nome"
                    (keypress)="keyPressOnlyCharacters($event)"
                    >
                </div>

                <div class="form-group col-sm-4">
                  <label>CPF:</label>
                  <input type="text" class="form-control"
                    [(ngModel)]="cliente.cpf" name="cpf"
                    maxlength="11"
                    (keypress)="keyPressOnlyNumerics($event)"
                    >
                </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-warning btn-sm" (click)="voltarParaListagem()">
                  <span class="float-right">
                    <i class="bi bi-arrow-left-square-fill text-default  pointer" style="font-size: 1.4rem;" ></i>Back
                  </span>
                </button>
                {{' '}}
                <button class="btn btn-success btn-sm" *ngIf="!cliente.id" >
                  <span class="float-right">
                    <i class="bi bi-save text-warning  pointer" style="font-size: 1.4rem;" ></i>Save
                  </span>
                </button>

                <button class="btn btn-primary btn-sm" *ngIf="cliente.id" >
                  <span class="float-right">
                    <i class="bi bi-arrow-repeat text-warning  pointer" style="font-size: 1.4rem;" ></i>Atualizar
                  </span>
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

