<div class="container-search-table">
  <div class="search-list">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h3 style="text-align: center; color: deepskyblue;"><strong>Clientes</strong></h3>
          <ol class="breadcrumb mt-4 col-md-12">
            <li class="breadcrumb-item active">Consulta de clientes</li>
          </ol>
        </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-8">

            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso" >
              {{ mensagemSucesso }}
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="mensagemError" >
              {{ mensagemError }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <button class="btn btn-info" (click)="novoCadastro()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              Novo
            </button>

            {{''}}
            <button class="btn btn-warning" (click)="onRefresh()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
              </svg>
              Atualizar
            </button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col-md-12">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Data Cadastro</th>
                  <th class="text-right">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cliente of clientes" >
                  <td>{{ cliente.id }}</td>
                  <td>{{ cliente.nome }}</td>
                  <td>{{ cliente.cpf }}</td>
                  <td>{{ cliente.dataCadastro }}</td>
                  <td >
                    <span class="float-right pointer-event">
                      <!-- <i class="bi bi-eye text-warning  pointer" style="font-size: 1.4rem;" ></i>
                      {{' '}} -->
                      <i class="bi bi-pencil-fill pointer-event"
                        style="font-size: 1.4rem; color: cornflowerblue;"
                        routerLink="/clientes/editar/{{ cliente.id }}" >
                      </i>
                      {{' '}}
                      <i class="bi bi-trash text-danger  pointer-event"
                        style="font-size: 1.4rem;"
                        data-toggle="modal"
                        data-target="#modalDelecao" (click)="preparaDelecao(cliente)" ></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</div>


<div id="modalDelecao" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmação</h4>
      </div>
      <div class="modal-body" *ngIf="clienteSelecionado" >
        Confirma a deleção do(a) cliente {{ clienteSelecionado.nome }}?
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" (click)="deletarCliente()"
                data-dismiss="modal">Confirmar</button>
        <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
